<form class="space-y-4" (ngSubmit)="onSubmit()" #studentForm="ngForm">
  <input type="text" class="border p-2 w-full rounded" placeholder="First Name" [(ngModel)]="student.firstName"
    name="firstName" required />
  <input type="text" class="border p-2 w-full rounded" placeholder="Last Name" [(ngModel)]="student.lastName"
    name="lastName" required />
  <input type="email" class="border p-2 w-full rounded" placeholder="Email" [(ngModel)]="student.email" name="email"
    required />
  <input type="text" class="border p-2 w-full rounded" placeholder="Phone Number" [(ngModel)]="student.phoneNumber"
    name="phoneNumber" />
  <button type="submit" class="bg-primary-600 text-white px-4 py-2 rounded">Save</button>
</form>